.list-group-item {
    background: #ffc13b;
    color: black;
    margin-bottom: 5px;
    border-radius: 10px;
  }

.list-expense-item {
  display: flex;
  flex-direction: column;
}

  .pay-item {
    background: #f7f7f7;
    color: black;
    margin-bottom: 5px;
    border-radius: 10px;
  }

.strikeout {
  text-decoration: line-through;
}

.listdate {
  margin-top: 20px;
}

.item-subtext {
  font-size: 20px;
  color: grey;
}

.info, .delete {
  margin-left: 15px;
  font-size: 18px;
}

.list-subtext {
  font-size: 14px !important;
  opacity: 0.7 !important;
}

.addlink, .addlink:hover {
  color: white;
  text-decoration: underline;
}