body {
    /* padding-bottom: calc(10rem - 72px); */
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/pie.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 320px;
}

@media only screen and (max-width: 450px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.share-container {
    max-width: 600px;
}

.body-container {
    margin-top: 10px;
    text-align: center;
    position:relative;
    min-width: 280px;
}

@media only screen and (max-width: 800px) {
    .intro-container {
        margin-top: 140px;
    }
}

.divider {
    background-color: white;
}

h1,h2,h3,h4,label,p {
    color: white;
}

.nav {
    margin-top: 20px;
}

.nav-link {
    color: #ffc13b;
}

.nav-link:hover {
    color: #ffc13b;
    opacity: 0.8;
}

.nav-link.active {
    background-color: #ffc13b !important;
    color: white;
}

.splitbetween {
    display:flex;
    justify-content: center;
    color: white;
}

.person-form {
    margin-bottom: 10px;
}

.statediv {
    margin-bottom: 20px;
}

#banking, #noexpenseimg {
    width: 80%;
}

#people{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.splitbetween {
    display: flex;
    flex-direction: column;
}

.people-checkbox {
    margin-left: 10px;
    margin-right: 4px;
}

#everyoneorpeople {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.stateofplayuser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown-toggle {
    background: #ffc13b;
}

.paidbyuser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
}

.green {
    color: #22e52f;
}

.red {
    color: #ff6060;
}

@media only screen and (max-width: 800px) {
    #eventcode {
        font-size: 20px;
    }
}

.currencyradio, .splitradio {
    margin-left: 10px;
    margin-right: 2px;
}

.settings {
    position:absolute;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.overlaytext{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
    display: flex;
    justify-content: center;
  }

  .fa-times {
    position:absolute;
    top:10;
    right:10;
    color: white;
    font-size: 36px;
}

.settings:hover, .fa-times:hover{
    transition: transform .2s; /* Animation */
    transform: scale(1.2);
  }

.sharehref, .sharehref:hover {
    color: white;
}

#overlaytitle {
    margin-bottom: 20px;
}

#titleandsettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#from-to {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adbar {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4) !important;
    margin: 10px 0px;
}
.adbar a {
    color: black;
    text-decoration: underline;
}

.currencydiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.currencydropdown {
    margin-right: 10px;
    margin-left: 0px !important;
    width: 50px;
}

.carddiv {
    background-color:rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 6px;
    min-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.4);
}

.btn-warning {
    background-color: #ffc13b !important;
}

.ct-series-a .ct-slice-pie {
    /* fill of the pie slieces */
    fill: #ff7b16;
    stroke-width: 4px;
  }
  

.ct-series-b .ct-slice-pie {
/* fill of the pie slieces */
    fill: #ffc13b; 
    stroke-width: 4px;
}

.ct-chart {
    margin-bottom: 20px;
}

.ct-label {
    color: white;
}


.ct-point, .ct-line {
    stroke: #ffc13b !important;
}

#piechart {
    max-width: 250px;
    padding: 5px;
}

#piechartdiv {
    display: flex;
    justify-content: center;
    width: 100%;
}